<%= nested_form_for(@vehicle) do |f| %>
  <% if @vehicle.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@vehicle.errors.count, "error") %> prohibited this vehicle from being saved:</h2>

      <ul>
      <% @vehicle.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :vehicle_name %><br />
    <%= f.text_field :vehicle_name %>
  </div>
  <div class="field">
    <%= f.label :driver_name %><br />
    <%= f.text_field :driver_name %>
  </div>
  <div class="field">
    <%= f.label :user_id %><br />
    <%= f.number_field :user_id %>
  </div>
  <div class="field">
    <%= f.label :vehicle_make %><br />
    <%= f.text_field :vehicle_make %>
  </div>
  <div class="field">
    <%= f.label :vehicle_number %><br />
    <%= f.text_field :vehicle_number %>
  </div>
		<%= f.fields_for :start_point do |start_form| %>
			<%= start_form.label :start_point %><br />
			<%= start_form.text_field :address %>
		<% end %>
		<%= f.fields_for :end_point do |end_form| %>
			<%= end_form.label :end_point %><br />
			<%= end_form.text_field :address %>
		<% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
